body { margin: 0; padding: 0; font-family: "Arial Black"; background-repeat: no-repeat; background-color: #222222; background-size: 100%; }
#slogan { text-align: center; font-size: 46px; margin-top: 20%; color: #fff; }
#slogan span { color: #ff0 }
#slogan span.selected { background: #09f; color: #fff; }