.input{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.input-btn{
    display: block;
    background: red;
    color: #fff;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    margin: 0 50px;
}
*{font-family:开心软件二黑简体,sans-serif}