/*****css-menu-05 styles*****/
div#wrapper-menu{background-color:#e4e4e4;}
/*menu size*/
div#wrapper-menu ul#nav{
	position:relative;
	display:block;
	width:450px;
	height:60px;
	margin-left:auto;
	margin-right:auto;
	margin-top:-30px;
	top:50%;
}
div#wrapper-menu ul#nav li{display:block;float:left;width:auto;height:60px;margin:0 25px 0 0;}
div#wrapper-menu ul#nav li a{
	display:block;
	width:auto;
	height:60px;
	line-height:60px;
	font-family:Georgia, serif;
	font-size:0.9em;
	font-style:italic;
	font-weight:normal;
	text-decoration:none;
	color:#474747;
	}
div#wrapper-menu ul#nav li a:hover{border-top: solid 3px #474747;color:#000;margin-top:-3px;text-shadow:1px 1px 1px #FFF;}
/*colors for each option*/
div#wrapper-menu ul#nav li a.home{color:#80b357;border-color:#80b357;}
div#wrapper-menu ul#nav li a.about{color:#57b36d;border-color:#57b36d;}
div#wrapper-menu ul#nav li a.news{color:#57b3b2;border-color:#57b3b2;}
div#wrapper-menu ul#nav li a.social{color:#576db3;border-color:#576db3;}
div#wrapper-menu ul#nav li a.contact{color:#b2509e;border-color:#b2509e;}

